* {
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    border-bottom: 8px solid gold;
    background-color: 	#add8e6;
    padding: 20px;
    z-index: 0;
}

body{
    display: flex;
    flex-direction: column;
}

#broom{
    width: 156px;
    height: 156px;
    margin: auto;
}

#bucket{
    width: 156px;
    height: 156px;
    margin: auto;
}

#cleanTools{
    width: 156px;
    height: 156px;
    margin: auto;
}

.container{
    background-color: ghostwhite;
    border: solid 6px gold;
    border-radius: 15px;
    margin: auto;
}

.logo {
    display: block;
    margin: auto;
}

.google-reviews{
    flex: 1 0 auto;
}

#googleWidget.a{
    background: none;
}


.bottomLogo{
    margin-bottom: 5%;
}


.footer{
    flex-shrink: 0;
    border-top: 8px solid gold;
    color: black;
    background-color: #add8e6;
    text-shadow: 2px 1px 2px white;
}

#contactForm{
    width: 45%;
}

@media (max-width: 1000px) {
    #contactForm{
        width: auto;
    }
    #navbarLogo{
        width: 120px;
        height: 120px;
    }
    .carousel{
        display: none;
    }
    .aboutUsContainer{
        margin-top: 5%;
    }
}

