* {
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    border-bottom: 5px solid gold;
    background-color: royalblue;
    padding: 20px;
}

body{
    display: flex;
    flex-direction: column;
}

.container{
    background-color: white;
    border: solid 2px gold;
    border-radius: 15px;
}

.logo {
    display: block;
    margin: auto;
}

.google-reviews{
    flex: 1 0 auto;
}

.footer{
    flex-shrink: 0;
    border-top: 5px solid gold;
    background-color: royalblue;
}